build
dist
.pytest_cache
fms.egg-info
*/**/__pycache__
*.pyc
*/**/*.pyc
.vscode
fms.egg-info
.venv
.ruff_cache
.mypy_cache
ibm_fms.egg-info/
wandb/
final_project/report.log
final_project/report.fls
final_project/report.fdb_latexmk
final_project/report.aux
