# Used to install pinned test dependencies
# Useful for dev/test jobs caches

-r hf-requirements.txt

# Test tools
mypy==1.15.0
mypy-extensions==1.0.0
pytest==8.3.4
sentencepiece==0.2.0

# Types packages
pyarrow-stubs==17.16
types-requests==2.32.0.20241016

# Model testing
lm_eval==0.4.7
peft==0.14.0