# This workflow will install Python dependencies and run tests

name: FMS Testing

on: [pull_request]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest numpy
        pip install --pre torch --index-url https://download.pytorch.org/whl/nightly/cpu
        pip install transformers
        pip install .
        
    - name: Test with pytest
      run: |
        pytest -vv -rP tests/
